*{
    
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    font-family: sans-serif;
}

.menuCategoria{
    margin-top: 70px;
}
#contenedor{
    background-color: rgb(14, 10, 5);
    height: 1700px;
    width: 100%;
    margin: 0px auto;
}

/*La barrita nav*/
.BarraInicio {
  position: fixed;
  background-color: rgb(29, 12, 9);
  height: 70px;
  width: 100%;
  top: 0;
  left: 0;
}

.nav {
  display: flex;
  justify-content: space-between;
}

.nav-link {
  -webkit-text-stroke: 0px black;
  color: rgb(238, 236, 236);
  text-decoration: none;
  
}

.policy {
  font-family: monospace;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f5f5f5;
  border-radius: 10px;
  border: 1px solid #ccc;
}

.policy h2 {
  font-family: monospace;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}

.policy p {
  font-family: monospace;
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 10px;
}

.policy ul {
  font-family: monospace;
  margin-left: 20px;
  margin-bottom: 10px;
}

.policy li {
  font-family: monospace;
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 5px;
}

.logo {
  font-family: monospace;
  font-weight: bold;
  font-size: 30px;
  padding: 0 150px;
  line-height: 70px;
}

.nav-menu {
  display: flex;
  margin-right: 100px;
  list-style: none;
  
}

.nav-menu-item {
  font-size: 18px;
  margin: 0 10px;
  line-height: 70px;
  text-transform: uppercase;
}

.nav-menu-link {
  padding: 8px 12px;
  border-radius: 4px;
  transition: 0.5s;
  font-family: monospace;
}

.nav-menu-link:hover {
  background-color: rgb(82, 41, 7);
}

.nav-menu-login {
  font-family: monospace;
  padding: 10px 14px;
  border-radius: 5px;
  transition: 0.5s;
  background-color: rgb(82, 41, 7);;
}

.nav-menu-login:hover {
  background-color: rgb(133, 85, 47);
}


.dropdown {
  position: relative;
}

.dropdown-menu {
  color: white;
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  padding: 0;
  margin: 0;
  background-color: rgb(29, 12, 9);
  z-index: 1;
  list-style: none;
  
}


.recomendadosP{
  padding: 120px;
  background-color: rgb(24, 14, 5);
}
.dropdown-menu li {
  font-size: 16px;
  line-height: 40px;
  text-transform: uppercase;
}

.dropdown:hover .dropdown-menu {
  display: block;
  border-radius: 1px;
}

.dropdown-menu a:hover {
  background-color: rgb(82, 41, 7);
}
.dropdown-menu a {
  display: block;
  padding: 10px;
}


/*Promociones*/

.contenedor-promociones-img{
    margin-top: 60px;
    width: 1500px;
    height: 550px;
}

/*Productos recomendados*/
.containerProductos{
    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 60px;
  }
  
  .box {
    text-align: center;
    margin-right: 1;
  }
  
  .box img {
    transition: transform 0.2s ease-in-out;
    width: 300px;
    height: auto;
    border-radius: 10px;
    margin-top: 10px;
    box-shadow: 4px 4px 4px 0px rgba(0,0,0,0.75);
  }

  .box img:hover{
    transform: scale(1.1);
  }
  
  .box h2 {
    font-family: monospace;
    color: white;
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
  }


#recomendados{
    
    padding: 30px;
    background-color: rgb(24, 14, 5);
}

p{
    font-size: 18px;
    font-family: monospace;
}

/*PRODUCTO DESTACADO*/
.aside-container {
    display: flex;
    align-items: center;
    margin: 20px;
    background-color: rgb(43, 27, 19);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
  }
  
  .aside-image {
    flex: 1;
  }
  
  .aside-image img {
    display: block;
    max-width: 100%;
    height: auto;
    border-radius: 5px 0 0 5px;
  }
  
  .aside-description {
    
    color:rgb(230, 216, 216);   
    flex: 2;
    padding: 20px;
  }
  
  .aside-description h2 {
    color: white;
    font-size: 24px;
    margin-top: 0;
  }
  

  /*Productos del catalogo, menú*/

  .categorias {
    display: flex;
    justify-content: center;
  }
  
  .categoria-btn { 
      font-size: 20px;
      margin: 0 15px;
      line-height: 40px;
      text-transform: uppercase;
      padding: 8px 12px;
      border-radius: 4px;
      transition: 0.5s;
      font-family: font-serif;
      color: white;
  }
  
  .categoria-btn:hover {
      color:#000000;
      background-color: #865023;
  }
 
/*Cards de categorias*/

.tarjeta-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 70px;
  }
  
  .tarjeta {
    width: 250px;
    height: 350px;
    padding: 20px;
    background-color: #4e3727;
    border: 1px solid #300a0a;
    border-radius: 5px;
    margin-right: 20px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
  }
  
  .tarjeta img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }
  
  .tarjeta h2 {
    margin-top: 20px;
    font-size: 1.5em;
    font-weight: bold;
  }
  
  .tarjeta p {
    margin-top: 10px;
    font-size: 1.2em;
    line-height: 1.2;
    height: 80px;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0 10px;
  }
  
  .tarjeta button {
    font-size: 15px;
    margin: 0 15px;
    line-height: 40px;
    text-transform: uppercase;
    padding: 1px 10px;
    border-radius: 4px;
    transition: 0.5s;
    font-family: font-serif;
    color: white;
  }
  
  .tarjeta button:hover {
    background-color: #3b250b;
  }
  
  .spacer {
    clear: both;
  }
 

  /*Preguntas*/


/*Footer*/
  footer {
    
    background-color: #251403;
    color: #fff;
    padding: 40px 0;
    text-align: center;
  }
  
  footer h3 {
    font-family: monospace;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 20px;
  }
  
  footer ul li {
    font-size: 16px;
    margin-bottom: 10px;
  }
  
  footer ul li i {
    margin-right: 10px;
  }
  
  footer ul li a {
    color: #fff;
    text-decoration: none;
  }
  
  footer ul li a:hover {
    text-decoration: underline;
  }
  
  .social-media {
    display: flex;
    justify-content: center;
  }
  
  .social-media li {
    margin-right: 20px;
  }
  
  .social-media li:last-child {
    margin-right: 0;
  }
  
  .social-media li a i {
    font-size: 20px;
    margin-right: 10px;
  }
  
  /* Facebook */
  .fa{
    font-weight: bold;
    color: #3b5998;
  }
  
  /* Instagram */
  .in{
    font-weight: bold;
    color: #e4405f;
  }
  
  /* Twitter */
  .twi {
    font-weight: bold;
    color: #1da1f2;
  }
  
footer li {
    font-family: monospace;
}


